body {
    font-family: 'Poppins', sans-serif;
    background-image: url('https://media.istockphoto.com/id/1305990690/photo/an-organised-workspace-leads-to-more-productivity.jpg?s=612x612&w=0&k=20&c=bZhhyF1eHKZE4yUC6yJ1jJyLftC2oHrr8QPiKwj7zm4=');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-contact {
    margin-bottom: 20px;
  }
  
  .input-box,
  .message,
  .department,
  .timeslot,
  .purpose,
  .send {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .send {
    background-color: #281ccf;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .send:hover {
    background-color: #45a049;
  }
  
  label {
    font-weight: bold;
  }
  
  .time-slot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .time-slot-container select {
    flex: 1;
    margin-right: 10px;
  }
  
  .room {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .checkout {
    margin-right: 190px;
  }
  
  button {
    background-color: #45a049;
    border: none;
    color: white;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #357a38;
  }
  
  button:active {
    background-color: #357a38;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
  }
  